*{
  background-color: black;
  color: white;
  font-size: 16px;
  
}
.container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 2rem 8rem;
  gap: 2rem;
  margin: auto;
}
.under{
  border-bottom: 0.1rem solid yellow;
  text-align: left;
}
.titleText{
  color:yellow;
  font-size: 2rem;
  text-decoration: none;
}

.item{
  max-width: 48rem;
  display: flex;
  flex: 1 1 40%;
  border: 0.01rem solid green;
  border-radius: 0.5rem;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  text-decoration: none;
  align-items: center;
}

.Linkitem{
  max-width: 48rem;
  display: flex;
  flex: 1 1 40%;
  text-decoration: none;
  text-align: left;
}
.item-info{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: left;
}

.item-h2{
  font-size: x-large;
  padding: 0;
  margin: 0;
  text-align: left;
}

.item-p{
  font-size: small;
  font-weight: 100;
  padding: 0;
  margin: 0;
  color:lightgray;
}

.item-img{
  width: 4rem;
  height: 4rem;
}

.detailname{
  text-align: center;
  font-size:x-large;
}

.container2{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  gap: 2rem;
  margin: auto;
}
.table{
  display: flex;
  width: 24rem;
  margin: auto;
  border: 0.01rem solid green;
  border-radius: 0.5rem;
  justify-content: center;
  padding: 1rem 1rem;
  border-collapse: collapse;
  border-spacing: 0 2rem;
  flex-direction: column;
}

.table-tr{
  border-bottom: 0.01rem solid green;
  margin:0.5rem;
}

.table-td{
  padding:0.5rem;
}

.left{
  text-align: left;
  font-size: large;
  font-weight: 700;
  width: 12rem;
}
.right{
  text-align: right;
  font-size: medium;
  color:lightgray;
  font-weight: 100;
  width: 12rem;
}
.imgsize{
  width: 24rem;
  height: 24rem;
  margin: auto;
}
.circle-border{
  width: 24rem;
  height: 24rem;
  border: 0.2rem solid green;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;    
}
@media (max-width: 24rem){
  .item{
      flex: 1 1 100%
  }
}